graft domain_admin
include README.md
include requirements/production.txt
prune tests
prune doc
prune image
global-exclude .DS_Store
global-exclude *.pyc
global-exclude *.log
global-exclude *.db
global-exclude *.db-shm
global-exclude *.db-wal
global-exclude *.sqlite
global-exclude .env
global-exclude .gitignore
global-exclude .dockerignore
global-exclude .travis.yml
global-exclude Dockerfile
global-exclude Makefile