Flask==2.0.0
werkzeug>=2.2.2
Jinja2==3.0.0
Flask-Cors==3.0.10
peewee==3.15.3
python-dateutil==2.8.2
gunicorn==20.1.0
gevent==21.12.0
PyYAML>=6.0
apscheduler>=3.9.1
PyJWT>=2.5.0
bcrypt>=4.0.0
pendulum>=2.1.2
python-dotenv>=0.21.0
dateparser>=1.1.1