# https://github.com/actions/starter-workflows/blob/main/ci/python-publish.yml
name: Upload Python Package

#on:
#  release:
#    types: [published]

on:
  push:
    branch: ['master']

#on:
#  push:
#    tags:
#      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: 'mouday/domain-admin-web'
          ref: 'dist'
          token: ${{ secrets.GH_PAT }}
          path: 'domain_admin/public'

      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
            python setup.py sdist bdist_wheel
            twine check dist/*
            twine upload dist/*