# 测试
# doc: https://docs.github.com/zh/actions/automating-builds-and-tests/building-and-testing-python
# https://github.com/actions/python-versions
# https://github.com/actions/python-versions/blob/main/versions-manifest.json

name: Run tests

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # Run in all these versions of Python
        python-version: [3.5, 3.7, 3.8, 3.9, "3.10", "3.11"]
        # 排除版本
        exclude:
          - os: ubuntu-latest
            python-version: "3.5"

    steps:
      # Checkout the latest code from the repo
      - name: Checkout repo
        uses: actions/checkout@v3
        # Setup which version of Python to use
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
        # Display the Python version being used
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
        # Install pytest (you can use some other testing utility)
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/development.txt
      # Install the package using the setup.py
      - name: Install package
        run: python setup.py install
        # Run the tests. I'm using pytest and the file is in the tests directory.
      - name: Run tests
        #  run:  pytest -c pytest.ini tests/api/test_index.py
        run:  python -m unittest tests/test_hello.py
